/*
fb-text: #737373;
bg: #000;
color: #8c8c8c;
learn more: #0071eb;
need help: #b3b3b3;
button: #e50914;
input bg : #333;
input focus: #454545
*/

$color-white: #fff;
$bg-color: #000;
$fb-text: #737373;
$text-color: #8c8c8c;
$forgot-pass-color: #b3b3b3;
$link-color: #0071eb;
$button-color: #e50914;
$input-bg: #333;
$input-focus-bg: #454545;

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Helvetica-Light.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Helvetica-Medium.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Helvetica-Bold.ttf");
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  background-color: $bg-color;
  color: $text-color;
}

.logo {
  margin-top: 3%;
  margin-left: 3%;
  img {
    height: 20px;
  }
}

a {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.content {
  max-width: 500px;
  margin: auto;
  padding: 30px 5%;
  h1 {
    color: $color-white;
    font-size: 32px;
  }
  .form {
    margin-top: 20px;
    .inputWrapper {
      .input-inner {
        position: relative;
        label {
          font-size: 14px;
          position: absolute;
          left: 20px;
          top: 17px;
          transition: all 0.2s;
        }
        input:focus + label,
        input:valid + label {
          transform: translate3d(0, -10px, 0);
          font-size: 11px;
        }
      }
      input {
        background-color: $input-bg;
        border: 0;
        width: 100%;
        padding: 20px;
        padding-bottom: 10px;
        border-radius: 4px;
        color: $color-white;
        font-size: 16px;
        &:focus {
          background-color: $input-focus-bg;
        }
      }
      &.email {
        margin-bottom: 16px;
      }
    }
    button {
      cursor: pointer;
      background-color: $button-color;
      padding: 16px;
      width: 100%;
      color: $color-white;
      border: 0;
      border-radius: 4px;
      margin-top: 40px;
      font-weight: 700;
      font-size: 16px;
      &:active {
        opacity: 0.8;
      }
    }
    .bottom-section {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      font-weight: 500;
      font-size: 13px;
      color: $forgot-pass-color;
    }
    .fb-login {
      display: flex;
      align-items: center;
      margin-top: 30px;
      font-size: 13px;
      img {
        height: 20px;
        margin-right: 10px;
      }
    }
  }
  .new-to-netflix {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    a {
      color: $color-white;
    }
  }
  .captcha-text {
    font-size: 13px;
    margin-top: 20px;
    line-height: 16px;
    a {
      color: $link-color;
    }
  }
}

.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  div {
    margin-top: 2px;
  }
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $fb-text;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 8px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
